
@{
    ViewBag.Title = "Unauthorised Region";
    Layout = null;
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Control Panel/Admin Panel of Directorate General Resettlement (DGR) Website">
<meta name="keywords" content="Directorate General Resettlement (DGR), Ex-Servicemen, Officers, JCOs ORs, NCOs, EMPLOYMENT, Sponsorship, Resettlement Courses, Security Agency, RSB, ZSB, JCO, Other Ranks, Officer">
<meta name="author" content="Createch Software Pvt. Ltd.">
<!-- Favicon icon -->
<link rel="icon" href="~/images/dgrlogo.png" type="image/x-icon">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="~/Areas/Admin/Component/css/main.css">
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-6">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto bg-danger">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="h5 modal-title text-center">
                                    <img src="~/images/dgrlogo.png" class="img-responsive" />
                                    <h4 class="mt-2">
                                        <span> Unauthorised Login Location </span>
                                    </h4>
                                    <br />
                                </div>
                            </div>
                            <div class="modal-footer clearfix text-center bg-warning">
                                <div class="float-none">
                                    <a href="/" class="btn-lg btn btn-outline-danger">Back to Homepage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © Createch Software Pvt. Ltd. @DateTime.Now.Year</div>
                </div>
            </div>
        </div>
    </div>
</div>


