<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings configSource="WebConfigs\connectionStrings.config" />
	<appSettings configSource="WebConfigs\appSettings.config" />
	<system.web>
		<sessionState mode="InProc" timeout="20" cookieSameSite="Lax" />
		<!--<httpCookies domain="dgrindia.com" httpOnlyCookies="true" requireSSL="true" />-->
		<httpCookies domain="" httpOnlyCookies="true" requireSSL="true" />
		<trust level="Full" />
		<!--<customErrors mode="Off" />-->
		<!--<authentication mode="None" />-->
		<authentication mode="Forms">
			<forms loginUrl="~/Cpanel/Account/Login" name=".ASPNETAUTH" protection="All" path="/" timeout="20">
			</forms>
		</authentication>
		<!-- This section denies access to all files in this application except for those that you have not explicitly specified by using another setting. -->
		<!--<authorization>
      <deny users="?" />
    </authorization>-->
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off" defaultRedirect="~/Errors/Index">
			<error statusCode="404" redirect="~/Errors/NotFound" />
			<error statusCode="500" redirect="~/Errors/ServerError" />
		</customErrors>
	</system.web>
	<system.webServer>
		<!--For Removing Server Info Disclosure-->
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="BundleModule" />
			<add name="BundleModule" type="System.Web.Optimization.BundleModule" />
		</modules>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="Expect-CT" value="enforce, max-age=43200" />
				<add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data:;" />
				<add name="Feature-Policy" value="fullscreen 'none'" />
				<add name="Permissions-Policy" value="fullscreen=()" />
				<add name="Referrer-Policy" value="same-origin" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Xss-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Errors/NotFound" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" path="/Errors/ServerError" responseMode="ExecuteURL" />
		</httpErrors>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
		<rewrite>
			<rules>
				<clear />
				<!--<rule name="Httpsonly" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>-->
			</rules>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove RESPONSE_Server">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Use only secure cookies" preCondition="Unsecured cookie">
					<match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
					<action type="Rewrite" value="{R:0}; secure" />
				</rule>
				<clear />
				<!--Misconfigured Cookie Attribute-->
				<rule name="Add SameSite" preCondition="No SameSite">
					<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
					<action type="Rewrite" value="{R:0}; SameSite=lax" />
				</rule>
				<preConditions>
					<preCondition name="No SameSite">
						<add input="{RESPONSE_Set_Cookie}" pattern="." />
						<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
					</preCondition>
					<preCondition name="Unsecured cookie">
						<add input="{RESPONSE_SET_COOKIE}" pattern="." />
						<add input="{RESPONSE_SET_COOKIE}" pattern="; SameSite=lax" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<!--<security>
			<requestFiltering removeServerHeader="true" />
		</security>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
</configuration>
<!--ProjectGuid: FAB8877B-B7AC-48A6-9045-FB180F76DCE7-->