<appSettings>
	<add key="CurrentAppConnection" value="IASiteConString" />
	<add key="EnableLogging" value="True" />
	<add key="LoggingPath" value="Loggingfile" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="AllowedIPAddresses" value="localhost,127.0.0.1,10.26.66.253,122.161.51.97,::1,103.79.169.15"/><!-- Example "10.26.66.256" -->
	<add key="owin:AutomaticAppStartup" value="true"></add>
</appSettings>