<connectionStrings>
	<remove name="LocalSqlServer" />
	<add name="LocalSqlServer" connectionString ="data source=SG2NWPLS14SQL-v05.shr.prod.sin2.secureserver.net;Integrated Security=false;user id=cspldbuser;pwd=Cspl@#$1234;Initial Catalog=ia3db;" providerName="System.Data.SqlClient" />
	<add name="IASiteConString" connectionString="Server=SG2NWPLS14SQL-v05.shr.prod.sin2.secureserver.net; Initial Catalog=ia3db; User Id=cspldbuser;Password=Cspl@#$1234;" providerName="System.Data.SqlClient" />
	<!--<add name="DGRSiteConString" connectionString="Server=10.72.145.57; Initial Catalog=DGRSite; User Id=sa;Password=Te*m6$p5aS427Ed;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
